body {
    background-image: url(smale.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}
h1 {background-color: rgb(140, 220, 200)}
ul {background-color: rgb(200, 160, 200)}
ol {background-color: #daffc3}
p {background-color: grey;}